@screen lg
  .catalog__filter-title
    font-size: 22px
  .catalog__filter
    margin-bottom: 0
  .catalog__filter-list
    display: block
  .catalog__filter-list-item:not(:last-child)
    margin-bottom: 20px