.serviceSlider-section
   padding: 40px 0 54px 0
.serviceSlider-section__title
  text-align: center
  margin-bottom: 24px
  width: 100%
.serviceSlider-tabNav
  display: flex
  justify-content: center
  align-items: center
.serviceSlider-tabNav-item
  border: 1px solid var(--color-yellow)
  background-color: var(--color-white)
  padding: 15px 25px
  cursor: pointer
  text-transform: uppercase
  font-family: 'DinPro',sans-serif
  margin-right: 20px
  margin-bottom: 20px
  &:hover,&.active
    background-color: var(--color-yellow)
    box-shadow: 0px 10px 20px rgba(238, 178, 5, 0.3)
  &:focus,&:active
    background-color: var(--color-yellow-dark)
    border-color: var(--color-yellow-dark)
    box-shadow: 0px 10px 20px rgba(214, 160, 4, 0.3)
@import "media"