.serviceSlider-section
   padding: 40px 0 54px 0
.sliderNav
  display: flex
  justify-content: flex-end
.sliderNav__btn
  display: block
  font-size: 0
  width: 50px
  height: 50px
  background: var(--color-white) center/20% url('~static/images/icons/arrow-black.svg') no-repeat
  border: 1px solid var(--color-black)
  cursor: pointer
  &:hover
    background-image: url('~static/images/icons/arrow-white.svg')
    background-color: var(--color-yellow)
    border-color: var(--color-yellow)
    box-shadow: 0px 10px 20px rgba(255, 198, 32, 0.3)
    transform: rotate(180deg)
    &:active,&:focus
      background-image: url('~static/images/icons/arrow-white.svg')
      background-color: var(--color-black)
      border-color: var(--color-black)
      transform: rotate(180deg)
.sliderNav__btn-left
  margin-right: 10px
.sliderNav__btn-right
  transform: rotate(180deg)
  &:hover,&:focus,:active
    transform: rotate(0deg)
.serviceSlider-tab-header__container
  .sliderNav
    display: none
.serviceSlider-tab-container
  display: none
  &.active
    display: block
.serviceSlider-section__title
  text-align: center
  margin-bottom: 24px
  width: 100%
.serviceSlider-tabNav
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 30px
  flex-wrap: wrap
.serviceSlider-tabNav-item
  border: 1px solid var(--color-yellow)
  background-color: var(--color-white)
  padding: 15px 25px
  cursor: pointer
  text-transform: uppercase
  font-family: 'DinPro',sans-serif
  margin-right: 20px
  margin-bottom: 20px
  &:hover,&.active
    background-color: var(--color-yellow)
    box-shadow: 0px 10px 20px rgba(238, 178, 5, 0.3)
  &:focus,&:active
    background-color: var(--color-yellow-dark)
    border-color: var(--color-yellow-dark)
    box-shadow: 0px 10px 20px rgba(214, 160, 4, 0.3)
.serviceSlider-tab-header
  position: relative
  display: flex
  flex-direction: column
  box-shadow: 0px 20px 60px rgba(162, 162, 162, 0.25)
  padding-bottom: 290px
.serviceSlider-item
  background-color: var(--color-white)
  outline: none
  position: relative
.serviceSlider-title
  padding-top: 30px
  margin-bottom: 13px
.serviceSlider-info
  margin-bottom: 11px
.serviceSlider-info__title
  font-size: 18px
  color: #222
  margin-bottom: 10px
.serviceSlider-info__list-item
  position: relative
  margin-bottom: 5px
  &::before
    content: ''
    background: center/cover url("~static/images/icons/list-icon.svg") no-repeat
    width: 5px
    height: 5px
    display: inline-block
    vertical-align: middle
    margin-right: 9px
.serviceSlider-info__deadline-info
  font-size: 20px
.serviceSlider-info__deadline-days
  color: var(--color-blue)
.serviceSlider-tab-footer
  margin-top: -280px
.serviceSlider-tab-footer__list
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 15px
  margin-bottom: 15px
  position: relative
.serviceSlider-tab-header__img
  order: 1
  margin-top: 30px
  margin-bottom: 15px
  img
    width: 100%
    height: 100%
    object-position: center
    object-fit: cover
.serviceSlider-tab-footer__list-item
  background-color: var(--color-grey-light)
  box-shadow: 0px 5px 20px rgba(160, 160, 160, 0.4)
  position: relative
  cursor: pointer
  &.empty
    box-shadow: none
    background-color: transparent
    display: flex
    align-items: flex-end
    justify-content: flex-end
  &.active
    &::before
      content: ''
      display: block
      width: 55%
      height: 30%
      position: absolute
      top: -3px
      left: 0
      background: left/100% url('~static/images/icons/border-slider.svg') no-repeat
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
@import "media"