/*
 * This file is included once, for the entire sute.
 * It's useful for CSS vars
 */

// CSS vars
:root {
    --color-white: #ffffff;
    --color-black: #21273A;
    --color-loading: var(--color-blue);
    --color-blue: #357AA9;
    --color-blue-dark: #0B6EB5;
    --color-yellow: #FFC620;
    --color-yellow-dark: #EDB208;
    --color-black-light: #414141;
    --color-grey-dark: #494949;
    --color-grey: #B8BABF;
    --color-grey-light: #F8F8F8;
    --unit-100vh: 100vh;
    //--unit-gap: 40px;

    --font-primary: 'Roboto',sans-serif;
    //--font-secondary: serif;
}

// Breakpoints
// @media #{$lt-tablet} {
//     :root {
//         --unit-gap: 20px;
//     }
// }
