/*
    Load fonts in this file using @font-face.

    Fonts should go in: /static/fonts/

    Example:

        @font-face {
           font-family: 'My Font';
           src: url('/fonts/MyFont.eot');
           src: url('/fonts/MyFont.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/MyFont.woff2') format('woff2'),
                 url('/fonts/MyFont.woff') format('woff'),
                 url('/fonts/MyFont.ttf') format('truetype');
            font-style: normal;
            font-weight: 400;
        }

    Font Weights:
        100 - Thin
        200 - Extra Light (Ultra Light)
        300 - Light
        400 - Normal
        500 - Medium
        600 - Semi Bold (Demi Bold)
        700 - Bold
        800 - Extra Bold (Ultra Bold)
        900 - Black (Heavy)
*/
/* Roboto */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Bold.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight:700;
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight:700;
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight:700;
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Italic.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Italic.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight:400;
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Light.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Light.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Light.ttf') format('truetype');
    font-style: normal;
    font-weight:300;
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-LightItalic.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight:300;
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Regular.eot');
    src: url('/fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff'),
    url('/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight:400;
}
/*DinPro*/
@font-face {
    font-display: swap;
    font-family: 'DinPro';
    src: url('/fonts/Din.pro/DINPro-CondensedBold.eot');
    src: url('/fonts/RobotoCondensed/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed/DINPro-CondensedBold.woff') format('woff'),
    url('/fonts/RobotoCondensed/DINPro-CondensedBold.ttf') format('truetype');
    font-style: italic;
    font-weight:700;
}